<div class="container">
    <div class="row">
        <div class="col-12 mt-3">
            <h1>Gráficos Dinámicos <small>angular</small></h1>
            <hr>
        </div>
        <div class="col-12 mt-3">
            <h3>Gráfica de donas</h3>
            <app-dona></app-dona>
        </div>
        <div class="col-12 mt-3">
            <h3>Gráfica de barras</h3>
            <app-barra></app-barra>
        </div>
        <div class="col-12 mt-3">
            <h3>Gráfica de lineas</h3>
            <app-linea></app-linea>
        </div>
    </div>
</div>